/* Buscador de productos */
.buscador-container {
    position: relative;
    margin-top: -5px; /* Sube el buscador 50px */
    width: 250px;
    }

    .buscador {
    width: 97%;
    padding: 6px 10px 6px 6px;
    border-radius: 13px;
    border: none;
    outline: none;
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
    font-size: 14px;
    }

    .buscador::placeholder {
    color: #999;
    }

    .icono-busqueda {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #c4c4c4;
    font-size: 15px;
    cursor: pointer;
    }
